body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #fff;
  color: #000;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
  padding: 10px 15px;
}

.menu-btn {
  font-size: 26px;
  color: #fff;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 2px 8px;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 40px;
  height: 40px;
}

.title-img {
  height: 28px;
}

/* Tabs */
.tabs {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  margin-top: 8px;
}

.tab {
  cursor: pointer;
}

.dot {
  font-weight: bold;
  margin-right: 5px;
}

.hidden {
  visibility: hidden;
}

.line {
  width: 100%;
  height: 2px;
  background: black;
  margin-top: 5px;
}

/* Konten */
.content {
  text-align: center;
  padding: 15px;
}

.app-icon {
  width: 100px;
  border-radius: 12px;
}

.item {
  margin-bottom: 25px;
}

/* Overlay */
.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  z-index: 100;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-box {
  text-align: center;
  color: white;
  padding: 20px;
}

.close {
  font-size: 28px;
  margin-bottom: 20px;
  cursor: pointer;
}

.menu-info {
  font-size: 18px;
  margin-bottom: 10px;
}

.dev {
  font-size: 14px;
  color: #aaa;
}